<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Call for Reviewers</h2>
  <div class="row">
    <a href="{{ cfrLink }}"> >> Call for reviewers <<</a>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <p class="mt-4">
        We are excited to invite you to join our panel of esteemed reviewers for the upcoming {{ confAbbrev }} conference, a forum in the field of mathematical sciences. Your expertise and insight are invaluable in upholding our conference proceedings' quality and academic rigour. As a reviewer for {{ confAbbrev }}, you will be tasked with providing detailed, objective, and constructive feedback on submitted papers. Your evaluations will play a crucial role in ensuring the relevance, originality, and clarity of the research presented at our conference.
      </p>

      <p class="mt-4">
        Participating as a reviewer at {{ confAbbrev }} offers you the opportunity to engage with the latest advancements in mathematical sciences, broaden your professional network, and contribute significantly to your field of expertise. We seek reviewers with an established track record in mathematical sciences, with prior experience in publication and peer review. A PhD or equivalent experience in the relevant field is preferred. Reviewers are expected to complete their paper evaluations within 2 weeks following the assignment. We aim to ensure a timely and efficient review process for all participants.

      </p>

      <p class="mt-4">
        Should you have any queries or require more information, please don't
        hesitate to reach out to our Reviewer Coordination Team at
        {{ confEmail }}. Your contributions are vital to the success and
        integrity of {{ confAbbrev }}. We deeply appreciate your commitment to
        excellence and look forward to potentially having you as a part of our
        reviewer community.
      </p>
      <p class="mt-4">
        <!-- If you are interested in serving as a reviewer, please fill out this
         <a href="{{ cfrLink }}">application form</a>. -->
         Please complete this <a href="{{ cfrLink }}">application form</a> if you want to work as a reviewer.
      </p>
    </div>
  </div>
</div>
