<!--NavBar-->
<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{ confAbbrev }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/call4papers">Call for Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dates">Important Dates</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Proceeding</a>
        </li> -->
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/fees">Fees & Payment</a>
            <li><a class="dropdown-item" href="/guideline">Submission Guideline</a></li>
            <li><a class="dropdown-item" href="/registration">Registration</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/committee">Committe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--NavBar-->
