<!-- Footer -->
<footer class="mt-5 text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Join us on
    <a href="{{ confFB }}"><i class="fa fa-facebook"></i> Facebook</a>.
    <br />
    &copy; 2024 Copyright
    <a class="text-reset fw-bold" href="{{ confUrl }}">{{ confAbbrev }}</a
    >.
  </div>
  <!-- Copyright -->
  <!-- Tracker-->
  <div class="text-center">
    <script id="_wauwt7">
      var _wau = _wau || [];
      _wau.push(["small", "neets59j9c", "wt7"]);
    </script>
    <script async src="//waust.at/s.js"></script>
  </div>

  <!-- Tracker-->
</footer>
<!-- Footer -->
