<!-- Footer -->
<footer class="mt-5 text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    Join us on
    <a href="{{ confFB }}"><i class="fa fa-facebook"></i> Facebook</a>.
    <br />
    &copy; 2024 Copyright
    <a class="text-reset" href="{{ confUrl }}">{{ confAbbrev }}</a
    >.

    <!-- Copyright -->
    <!-- Tracker-->
    <!-- <script id="_waurpp">var _wau = _wau || []; _wau.push(["small", "ll8vvdyyuj", "rpp"]);</script><script async src="//waust.at/s.js"></script> -->
    <p>
      <a href="http://whos.amung.us/stats/ll8vvdyyuj/">
        <img
          src="http://whos.amung.us/swidget/ll8vvdyyuj.png"
          alt="uicms stats"
          width="80"
          height="15"
          [border]="0"
        />
      </a>
    </p>

    <!-- Tracker-->
  </div>
</footer>
<!-- Footer -->

<!-- Back-to-top -->
<a href="#" class="back-to-top" [class.d-none]="!isShowBackToTopButton" aria-label="Back to top" (click)="scrollToTop($event)">
  <i class="bi bi-arrow-up-circle-fill"></i>
</a>

