<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Registration</h2>
  <div class="row">
    <div class="col-md-12">

        <ul>
            <li>Presenter (Abstract or Full Paper):
                <ol>
                    <li>Please submit your abstract or full paper in EDAS <a href="https://uicms2024.edas.info">https://uicms2024.edas.info/</a></li>
                        <li>Please fill in the UICMS 2024 registration form with the proof of payment
<a href="https://shorturl.at/kyVY8">https://shorturl.at/kyVY8</a>
                </ol>
<li>Participant: 
    <ol>
        <li>Please fill in the UICMS 2024 registration form with the proof of payment
            <a href="https://shorturl.at/kyVY8">https://shorturl.at/kyVY8</a>
    </ol>
        </ul>


      <!-- <p class="mt-4">
        Registration and payment should be completed by the latest on 12th
        November 2024.
      </p> -->
    </div>
  </div>
</div>
