<div class="container mt-5 mb-5 pt-5">
  <h1 class="my-4">Tentative Schedule</h1>

  <h2>Day 1: Saturday, 12th October 2024</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>08:00 am – 09:00 am</td>
        <td>Conference Registration</td>
      </tr>
      <tr>
        <td>09:00 am – 10:00 am</td>
        <td>
          <strong>OPENING CEREMONY</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>09:00 am – 09:05 am</td>
                <td class="fw-bold">Doa Recitation and National Anthem</td>
              </tr>
              <tr>
                <td>09:05 am – 09:10 am</td>
                <td><span class="fw-bold">Welcoming speech</span><br />PNC KPPIM, UiTM</td>
              </tr>
              <tr>
                <td>09:10 am – 09:15am</td>
                <td><span class="fw-bold">Appreciation Speech</span><br />Patron from Sathyabama</td>
              </tr>
              <tr>
                <td>09:15 am – 09:20 am</td>
                <td><span class="fw-bold">Appreciation Speech</span><br />Patron from Uzbekistan</td>
              </tr>
              <tr>
                <td>09:20 am – 09:30 am</td>
                <td><span class="fw-bold">Opening Speech</span><br />VC UiTM</td>
              </tr>
              <tr>
                <td>09:30 am – 09:35 am</td>
                <td class="fw-bold">Montage Video Presentation</td>
              </tr>
              <tr>
                <td>09:35 am – 09:45 am</td>
                <td class="fw-bold">Appreciation and Photo Session</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>09:45 am – 10:00 am</td>
        <td>Refreshment</td>
      </tr>
      <tr>
        <td>10:00 am – 11:00 am</td>
        <td class="fw-bold">First Keynote Address</td>
      </tr>
      <tr>
        <td>11:00 am – 12:30 pm</td>
        <td>
          <strong>Parallel Session 1</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>11:00 am – 11:15 am</td>
                <td>1. Invited Speaker 1 – at Room 1</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>2. Invited Speaker 2 – at Room 2</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>3. Invited Speaker 3 – at Room 3</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>4. Invited Speaker 4 – at Room 4</td>
              </tr>
              <tr>
                <td>11:15 am – 12:30 pm</td>
                <td>Paper Presentation</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>12:30 pm – 02:00 pm</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>02:00 pm – 04:00 pm</td>
        <td>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>02:00 pm – 03:00 pm</td>
                <td class="fw-bold">Second Keynote Address</td>
              </tr>
              <tr>
                <td>03:00 pm – 04:00 pm</td>
                <td class="fw-bold">Third Keynote Address</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>04:00 pm – 05:00 pm</td>
        <td>
          <strong>Parallel Session 2</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>04:00 pm – 04:15 pm</td>
                <td>Invited Speaker 5 – at Room 1</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>Invited Speaker 6 – at Room 2</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>Invited Speaker 7 – at Room 3</td>
              </tr>
               <tr>
                <td>4:15 pm – 5:00 pm</td>
                <td>Paper Presentation</td>
              </tr>             
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>05:00 pm – 05:30 pm</td>
        <td>Refreshment</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Day 2: Sunday, 13th October 2024</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>08:00 am – 09:00 am</td>
        <td>Conference Registration</td>
      </tr>
      <tr>
        <td>09:00 am – 10:00 am</td>
        <td class="fw-bold">Fourth Keynote Address</td>
      </tr>
      <tr>
        <td>10:00 am – 10:30 am</td>
        <td>Refreshment</td>
      </tr>
      <tr>
        <td>10:30 am – 12:30 pm</td>
        <td>
          <strong>Parallel Session 3</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>10:30 am – 10:45 am</td>
                <td>Invited Speaker 8 – Room 1</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>Invited Speaker 9 – Room 2</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>Invited Speaker 10 – Room 3</td>
              </tr>
                <tr>
                <td>10:45 am – 12:30 pm</td>
                <td>Paper Presentation</td>
              </tr>              
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>12:30 pm – 02:00 pm</td>
        <td>Lunch (End Session)</td>
      </tr>
    </tbody>
  </table>
</div>
