<div class="container mt-5 mb-5 pt-5">
  <h1 class="my-4">Tentative Schedule</h1>

  <h2>Day 1: Saturday, 12th October 2024</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>08:00 am – 09:00 am</td>
        <td>Conference Registration</td>
      </tr>
      <tr>
        <td>09:00 am – 10:00 am</td>
        <td>
          <strong>OPENING CEREMONY</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>09:00 am – 09:05 am</td>
                <td>Recitation and National Anthem</td>
              </tr>
              <tr>
                <td>09:05 am – 09:15 am</td>
                <td>Welcoming remarks by Assistant Vice Chancellor, College of Computing, Informatics & Mathematics, Universiti Teknologi MARA</td>
              </tr>
              <tr>
                <td>09:15 am – 09:25 am</td>
                <td>Opening speech by Vice Chancellor of Universiti Teknologi MARA, Professor Datuk Dr. Shahrin bin Sahib &#64; Sahibuddin, FASc</td>
              </tr>
              <tr>
                <td>09:25 am – 09:30 am</td>
                <td>Montage Video Presentation</td>
              </tr>
              <tr>
                <td>09:30 am – 09:45 am</td>
                <td>Appreciation and Photo Session</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>09:45 am – 10:00 am</td>
        <td>Refreshment</td>
      </tr>
      <tr>
        <td>10:00 am – 11:00 am</td>
        <td>First Keynote Address</td>
      </tr>
      <tr>
        <td>11:00 am – 12:30 pm</td>
        <td>
          <strong>Parallel Session 1</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>11:00 am – 11:15 am</td>
                <td>Invited Speaker 1 – Room 1</td>
              </tr>
              <tr>
                <td>11:00 am – 11:15 am</td>
                <td>Invited Speaker 2 – Room 2</td>
              </tr>
              <tr>
                <td>11:00 am – 11:15 am</td>
                <td>Invited Speaker 3 – Room 3</td>
              </tr>
              <tr>
                <td>11:00 am – 11:15 am</td>
                <td>Invited Speaker 4 – Room 4</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>12:30 pm – 02:00 pm</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>02:00 pm – 03:00 pm</td>
        <td>Second Keynote Address</td>
      </tr>
      <tr>
        <td>03:00 pm – 04:00 pm</td>
        <td>Third Keynote Address</td>
      </tr>
      <tr>
        <td>04:00 pm – 05:00 pm</td>
        <td>
          <strong>Parallel Session 2</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>04:00 pm – 04:15 pm</td>
                <td>Invited Speaker 5 – Room 1</td>
              </tr>
              <tr>
                <td>04:00 pm – 04:15 pm</td>
                <td>Invited Speaker 6 – Room 2</td>
              </tr>
              <tr>
                <td>04:00 pm – 04:15 pm</td>
                <td>Invited Speaker 7 – Room 3</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>05:00 pm – 05:30 pm</td>
        <td>Refreshment</td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-4">Day 2: Sunday, 13th October 2024</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>08:00 am – 09:00 am</td>
        <td>Conference Registration</td>
      </tr>
      <tr>
        <td>09:00 am – 10:00 am</td>
        <td>Fourth Keynote Address</td>
      </tr>
      <tr>
        <td>10:00 am – 10:30 am</td>
        <td>Refreshment</td>
      </tr>
      <tr>
        <td>10:30 am – 12:30 pm</td>
        <td>
          <strong>Parallel Session 3</strong>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>10:30 am – 10:45 am</td>
                <td>Invited Speaker 8 – Room 1</td>
              </tr>
              <tr>
                <td>10:30 am – 10:45 am</td>
                <td>Invited Speaker 9 – Room 2</td>
              </tr>
              <tr>
                <td>10:30 am – 10:45 am</td>
                <td>Invited Speaker 10 – Room 3</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>12:30 pm – 02:00 pm</td>
        <td>Lunch (End Session)</td>
      </tr>
    </tbody>
  </table>
</div>

