
<div class="container mt-5 mb-5 pt-5">
    <h2 class="mb-4">About Us</h2>

    <p>Join us on our Facebook page at <a href="https://www.facebook.com/uicms">{{ confAbbrev }}</a> for the latest updates, support, and a glimpse into our community! It's a great place to connect, find photos, news, and more. Your participation will make our page even more vibrant and informative. We're looking forward to seeing you there!</p>

    <p>For any enquiries, feel free to contact us at {{ confEmail }}. We're here to help and would love to hear from you!</p>
    <br>
    <p>
        <strong>Address:</strong><br>
        Conference Secretariat<br>
        {{confTitle}}<br>
        College of Computing, Informatics and Mathematics<br>
        Kompleks Al-Khawarizmi<br>
        Universiti Teknologi MARA (UiTM)<br>
        40450 Shah Alam, Selangor Darul Ehsan<br>
        Malaysia<br>
    </p>

</div>
