
<div class="container mt-5 mb-5 pt-5">
    <h2 class="mb-4">About Us</h2>
    <p>For enquiries, please 
        <!-- WhatsApp us at {{confTel}} <br>
        or  -->
        email us at {{confEmail}}.</p>
    <br>
    <p>
        <strong>Address:</strong><br>
        Conference Secretariat<br>
        {{confTitle}}<br>
        College of Computing, Informatics and Mathematics<br>
        Kompleks Al-Khawarizmi<br>
        Universiti Teknologi MARA (UiTM)<br>
        40450 Shah Alam, Selangor Darul Ehsan<br>
        Malaysia<br>
    </p>

</div>
