<div class="container mt-5 mb-5 pt-5">
    <h2 class="mb-4">Conference Excursions</h2>

    <h3>Introduction</h3>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed in cumque officiis, fugit perferendis quos. Cumque, autem ratione? Blanditiis voluptatibus tenetur quaerat minus maiores atque, quia doloremque odio distinctio sint!</p>
    
    <h3>Logistics and Registration</h3>
    <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus similique sit placeat, temporibus facere ipsa, magni neque voluptas odio explicabo quaerat cum possimus omnis soluta minus eos beatae cupiditate nisi.</p>

    <h3>Payments</h3>
    <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, quae accusamus. Facere commodi aut placeat, in odit vel deserunt accusantium quod aliquam minus architecto dignissimos quo explicabo consectetur. Iste, voluptate.</p>

    <h3>Excursion Plans</h3>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quasi corporis doloremque repellendus dolore porro molestiae? Earum iste tenetur explicabo perferendis voluptate laborum excepturi molestias corporis, tempora et aut eum.</p>

    <h5>Exercusion Loop 1</h5>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repudiandae quaerat ea, incidunt atque iusto perferendis facilis magni illo sapiente suscipit doloremque itaque est quam iure nesciunt, nulla nihil velit!</p>

    <h5>Exercusion Loop 2</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa totam, libero amet minus, voluptatibus, quisquam exercitationem quia eius ratione et corporis nulla adipisci voluptate. Excepturi distinctio expedita aliquam fugiat eos!</p>

</div>