<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Submission Guidelines</h2>
  <p class="mt-4">Full paper submission link:</p>

  <ul>
    <li>
      <a href="{{confSubmissionUrl}}" target="_blank">{{confSubmissionUrl}}</a>
    </li>
  </ul>

  <p class="mt-4">Full paper template:</p>
  <ul>
    <li><a href="{{confTemplateLink}}" target="_blank">Word</a></li>
    <li><a href="{{confTemplateLinkLaTeX}}" target="_blank">LaTeX</a></li>
  </ul>

  <p class="mt-4">Video Submission Guideline:</p>
  <ul>
    <li>
      <a
        href="https://drive.google.com/file/d/1ibx9ymwa29CF3TGa0VBHmEVP7ff8hVu8/view?usp=drive_link"
        >Pdf</a
      >
    </li>
  </ul>

  <span class="poppins-bold">Notes:</span>
  <ol>
    <li>
      Please be informed that author(s) may have to convert the manuscript to
      other document format if the recommended proceeding / journal for this
      manuscript is not using LaTeX format for manuscript published by their
      publication.
    </li>
    <li>
      Abstract submission for presentation at UICMS2024 with full conference fee
      payment is allowed.
    </li>
  </ol>

  <figure class="figure mt-5">
    <a href="/assets/publication-process.png"
      ><img
        src="/assets/publication-process.png"
        class="figure-img img-fluid rounded"
        alt="{{ confAbbrev }}-Publication Process Flowchart."
        style="max-width: 85%"
    /></a>

    <figcaption class="figure-caption">Author guideline flowchart.</figcaption>
  </figure>
</div>
