<div class="container mt-5 mb-5 pt-5">
    <h2 class="mb-4">Submission Guidelines</h2>
    <p class="mt-4">Full paper submission link:</p>
    
      <ul>
        <li><a href="{{confSubmissionUrl}}" target="_blank">{{confSubmissionUrl}}</a></li>
      </ul>

    <p class="mt-4">Full paper template:</p>
    <ul>
      <li><a href="{{confTemplateLink}}" target="_blank">Click here to download template</a></li>
    </ul>

    <figure class="figure mt-5">
      <a href="/assets/publication-process.png"
        ><img
          src="/assets/publication-process.png"
          class="figure-img img-fluid rounded"
          alt="{{ confAbbrev }}-Publication Process Flowchart."
          style="max-width: 85%"
      /></a>
  
      <figcaption class="figure-caption">
        Author guideline flowchart.
      </figcaption>
    </figure>
</div>
