<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Call for Papers</h2>
  <div class="row mb-4">
    <div class="col-md-12">
      <h4>Conference Information</h4>
      <p class="mt-4">
        {{ confTitle }}
        <!-- in
        conjunction with The 3rd International Conference on Mathematical
        Sciences (ICMS 2024), and The 3rd Computational Models and Technologies
        (CMT 2024) -->
        will be held from 12th - 13th October 2024 at {{ confVenue }}.
      </p>
      <p class="mt-4">
        {{ confAbbrev }} aims to attract researchers actively engaged in
        theoretical and practical aspects of Mathematics. Authors are invited to
        contribute to the conference by submitting articles in the following
        areas, but are not limited to:
      </p>
      <ul>
        <li>Applied and Computational Mathematics (ACM)</li>
        <li>Algebra and Analysis (AA)</li>
        <li>Differential Equations and Numerical Analysis (DENA)</li>
        <li>Statistics, Analytics, Actuarial Science, and Decision Science (SAAD)</li>
      </ul>
      <p class="mt-4">
        Please use this link to register:
        <a href="{{confSubmissionUrl}}">{{confSubmissionUrl}}</a>
      </p>
    </div>
  </div>

  <div class="row">
    <img src="/assets/poster1080x1080.png" class="img-fluid" alt="{{confAbbrev}}" />
  </div>
</div>
