<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Call for Papers</h2>
  <div class="row mb-4">
    <div class="col-md-12">
      <h4>Conference Information</h4>
      <p class="mt-4">
        {{ confTitle }}
        <!-- in
        conjunction with The 3rd International Conference on Mathematical
        Sciences (ICMS 2024), and The 3rd Computational Models and Technologies
        (CMT 2024) -->
        will be held from 12th - 13th October 2024 at {{ confVenue }}.
      </p>
      <p class="mt-4">
        {{ confAbbrev }} aims to attract researchers actively engaged in
        theoretical and practical aspects of Mathematics. Authors are invited to
        contribute to the conference by submitting articles in the following
        areas, but are not limited to:
      </p>

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Applied and Computational Mathematics (ACM)
            </div>
            <div class="card-body">
              <ul>
                <li>Management Mathematics</li>
                <ul>
                  <li>Optimization</li>
                  <li>Fuzzy Mathematics</li>
                  <li>Management Sciences</li>
                  <li>Convex Analysis</li>
                </ul>
                <li>Operational Research</li>
                <ul>
                  <li>Decision Making</li>
                  <li>Cryptography</li>
                  <li>Financial Mathematics</li>
                  <li>Simulation</li>
                  <li>Stochastic Models</li>
                  <li>Game Theory</li>
                  <li>Linear Programming</li>
                  <li>Nonlinear Programming</li>
                </ul>
                <li>Applied Mathematics</li>
                <ul>
                  <li>Mathematical Economics</li>
                  <li>Computational Mathematics</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Algebra and Analysis (AA)</div>
            <div class="card-body">
              <ul>
                <li>Analysis</li>
                <ul>
                  <li>Real Analysis</li>
                  <li>Complex Analysis</li>
                  <li>Functional Analysis</li>
                  <li>Harmonic Analysis</li>
                  <li>Geometry Analysis</li>
                  <li>Group Theory</li>
                  <li>Graph Theory</li>
                  <li>Topology</li>
                  <li>Metric Spaces</li>
                  <li>Number Theory</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Differential Equations and Numerical Analysis (DENA)
            </div>
            <div class="card-body">
              <ul>
                <li>Numerical Analysis</li>
                <ul>
                  <li>Numerical Method</li>
                </ul>
                <li>Engineering Applications</li>
                <ul>
                  <li>Computational Fluid Dynamic</li>
                  <li>Boundry Layer</li>
                  <li>Heat Transfer and Fluid Mechanic</li>
                  <li>Dynamical Systems</li>
                  <li>Mathematical Physics</li>
                  <li>Discrete Mathematics</li>
                  <li>Difference Equations and Recurrence Relations</li>
                  <li>Tensor Analysis</li>
                  <li>Vector Analysis</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              Statistics, Analytics, Actuarial Science, and Decision Science
              (SAAD)
            </div>
            <div class="card-body">
              <ul>
                <li>Statistics</li>
                <ul>
                  <li>Probability</li>
                  <li>Quantitative Methods</li>
                  <li>Statistical Mpdelling</li>
                  <li>Biostatistics</li>
                  <li>Environmental Statistics</li>
                  <li>Industrial Statistics</li>
                  <li>Medical Statistics</li>
                  <li>Mathematical Statistics</li>
                  <li>Applied Statistics</li>
                  <li>Business Statistics</li>
                  <li>Computational Statistics</li>
                  <li>Time Series Analysis</li>
                </ul>
                <li>Analytics</li>
                <ul>
                  <li>Business-Oriented Analytics</li>
                  <li>AI Analytics</li>
                  <li>Service Analytics Minitrack</li>
                  <li>Big Data and Analytics</li>
                  <li>Learning Analytics</li>
                  <li>Service Analytics</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- <p class="mt-4">
        Please use this link to register:
        <a href="{{ confSubmissionUrl }}">{{ confSubmissionUrl }}</a>
      </p> -->
    </div>
  </div>

  <figure class="figure mt-5">
    <a href="/assets/poster1080x1080.png"
      ><img
        src="/assets/poster1080x1080.png"
        class="figure-img img-fluid rounded"
        alt="{{ confAbbrev }}."
        style="max-width: 85%"
    /></a>

    <figcaption class="figure-caption">
      Please use this link to register:
        <a href="{{ confSubmissionUrl }}">{{ confSubmissionUrl }}</a>.
    </figcaption>
  </figure>


</div>
