<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Fees</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Registration Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Presenter</td>
        <td>Physical - USD180 (MYR850) <br>
            Virtual - USD130 (MYR600)
        </td>
      </tr>
      <tr>
        <td>Additional Paper</td>
        <td>USD100 (MYR400)</td>
      </tr>
      <tr>
        <td>Participant</td>
        <td>USD100 (MYR400)</td>
      </tr>
      <tr>
        <td>Poster</td>
        <td>USD100 (MYR400)</td>
      </tr>
    </tbody>
  </table>


<div>PAYMENT BY WIRE TRANSFER/CHEQUE
<p>
Bank Account name: UNIVERSITI TEKNOLOGI MARA<br>
Bank Account No: <br>
Bank Name: Bank Islam Malaysia Berhad<br>
Bank Address : Ground Floor, Bangunan Prima Siswa, Universiti Teknologi MARA<br>
City: Shah Alam<br>
State: Selangor<br>
Country: Malaysia<br>
Swift Code: BIMBMYKL<br>
</p>
<br>
<p>
After performing the payment, please email a copy of the transaction to us at {{confEmail}} for record management.
All bank charges are to be borne by the participant.
Payments made are NOT refundable
</p>
</div>

</div>
