<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Fees and Payment</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Registration Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Presenter</td>
        <td>
          Physical - USD180 (MYR850) <br />
          Virtual - USD130 (MYR600)
        </td>
      </tr>
      <tr>
        <td>Additional Presented Paper<br>
        (maximum of two (2) papers)
        </td>
        <td>USD135 (MYR650) per paper</td>
      </tr>
      <tr>
        <td>Additional Pages<br>
        
        </td>
        <td>USD25 (MYR125) per page</td>
      </tr>
      <tr>
        <td>Participant<br>
          <!-- (Physical/Virtual) -->
        </td>
        <!-- <td>USD100 (MYR400)</td> -->
        <td>
          Physical - USD100 (MYR400) <br />
          Virtual - USD50 (MYR200)
        </td>
      </tr>
      <!-- <tr>
        <td>Poster</td>
        <td>USD100 (MYR400)</td>
      </tr> -->
    </tbody>
  </table>

  <div class="mt-3">
    <h5>Payment by wire transfer:</h5>
    <p>
      Account holder: UNIVERSITI TEKNOLOGI MARA, 40450 Shah Alam, Selangor,
      Malaysia<br />
      Bank: BANK ISLAM (M) BERHAD<br />
      BICC/SWIFT: BIMBMYKL<br />
      Account: 12177010005662<br />
      Ref: UICMS2024<br />
    </p>

  </div>
  <div class="mt-3">
    <h5>Notes:</h5>
    <ol>
      <li>
        After performing the payment, please <a href="{{paymentProof}}">upload the proof of payment</a>.
        <!-- After performing the payment, please fill up the <a href="{{paymentProof}}">registration form</a> and upload the proof of payment. -->
        <!-- email a copy of the transaction to
        us at {{ confEmail }} for record management. -->
        All bank charges are to be
        borne by the participant.
      </li>
      <li>Payments made are NOT refundable after the deadline.</li>
      <li>Physical presenters and participants will get a conference kit and meals.</li>
      <li>
        The conference fee <span class="font-monospace fw-bold text-decoration-underline">does not include publication fees</span> for indexed
        journals/proceedings. Separate invoice will be sent to the authors for article
        processing charges of journals (if any).
        <!-- All accepted abstract will published in the abstract book. -->
      </li>
      <li><span class="font-monospace fw-bold text-decoration-underline">All accepted papers must be presented.</span>
        Accepted papers without author participation in the assigned Session will be marked as a <span class="font-monospace fw-bold text-decoration-underline">"no show"</span> paper and will not be published.</li>
    </ol>
  </div>
</div>
