<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Publication</h2>
  <div class="row">
    <div class="col-md-12">
      <p>
        Accepted papers will undergo reviews to be considered for presentation
        in the conference and to be recommended for publication in either
        Scopus/WoS indexed proceedings, MyCite journal, or in Scopus/WoS indexed
        journal subject to the publication guidelines.
        <!-- The conference offers three esteemed publication options: inclusion in
        our conference proceedings, submission to MyCite Journals, and the
        possibility of being published in respected WoS/Scopus Indexed Journals. -->
      </p>
      <p class="mt-4">
        Following submission through EDAS and a preliminary review, author(s)
        will be provided with recommendations regarding the most suitable
        proceeding or journal for their paper’s publication.
      </p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h5>List of publication for UICMS2024</h5>
    <ul>
      <li>Scopus Indexed Proceedings</li>
      <ul>
        <li>Proceedings in Mathematics & Statistics book series</li>
      </ul>
      <li>MyCite Indexed Journals</li>
      <ul>
        <li>Malaysian Journal of Computing (MJoC)</li>
        <li>Applied Mathematics and Computational Intelligence (AMCI)</li>
        <li>Journal of Quality Measurement and Analysis (JQMA)</li>
      </ul>

      <li>WoS / Scopus Journals</li>
      <ul>
        <li>Matematika</li>
        <li>Malaysian Journal of Science (MJS)</li>
        <li>Sains Malaysiana</li>
      </ul>
    </ul>
</div>
