<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Publication</h2>
  <div class="row">
    <div class="col-md-12">
      <p>
        Accepted papers will undergo reviews to be considered for presentation
        in the conference and to be recommended for publication in either
        Scopus/WoS indexed proceedings, MyCite journal, or in Scopus/WoS indexed
        journal subject to the publication guidelines.
        <!-- The conference offers three esteemed publication options: inclusion in
        our conference proceedings, submission to MyCite Journals, and the
        possibility of being published in respected WoS/Scopus Indexed Journals. -->
      </p>
      <p class="mt-4">
        Following submission through EDAS and a preliminary review, author(s)
        will be provided with recommendations regarding the most suitable
        proceeding or journal for their paper’s publication.
      </p>
    </div>
  </div>

</div>
