<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Publication</h2>
  <div class="row">
    <div class="col-md-12">
      <p>
        Accepted papers will undergo reviews to be considered for presentation
        in the conference and to be recommended for publication in either
        Scopus/WoS indexed proceedings, MyCite journal, or in Scopus/WoS indexed
        journal subject to the publication guidelines.
        <!-- The conference offers three esteemed publication options: inclusion in
        our conference proceedings, submission to MyCite Journals, and the
        possibility of being published in respected WoS/Scopus Indexed Journals. -->
      </p>
      <p class="mt-4">
        Following submission through EDAS and a preliminary review, author(s)
        will be provided with recommendations regarding the most suitable
        proceeding or journal for their paper’s publication.
      </p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <h5>Publication opportunities for UICMS2024 papers</h5>
  <ul>
    <li>WoS / Scopus Journals</li>
    <ul>
      <li>
        <a href="https://matematika.utm.my/index.php/matematika">Matematika</a>
      </li>
      <li>
        <a href="https://mjs.um.edu.my/"
          >Malaysian Journal of Science (MJS)</a
        >
      </li>
      <li><a href="https://www.ukm.my/jsm/">Sains Malaysiana</a></li>

      <li>
        <a href="https://www.ukm.my/jqma/"
          >Journal of Quality Measurement and Analysis (JQMA)</a
        >
      </li>
    </ul>
    <li>Scopus Indexed Proceedings</li>
    <ul>
      <li>
        <a href="https://www.springer.com/series/10533"
          >Springer Nature and the Springer Proceedings in Mathematics and
          Statistics book series</a
        >
      </li>
    </ul>

    <li>Semarak Ilmu - SCOPUS Indexed Publications</li>
    <ul>
      <li>
        <a
          href="https://semarakilmu.com.my/journals/index.php/CFD_Letters/index"
          >CFD Letters</a
        >
      </li>
      <li>
        <a
          href="https://semarakilmu.com.my/journals/index.php/fluid_mechanics_thermal_sciences/index "
          >Journal of Advanced in Fluid Mechanics and Thermal Sciences</a
        >
      </li>
      <li>
        <a
          href="https://semarakilmu.com.my/journals/index.php/micro_nano_engineering/index"
          >Journal of Advanced Research in Micro and Nano Engineering</a
        >
      </li>
      <li>
        <a href="https://semarakilmu.com.my/journals/index.php/arnht/index"
          >Journal of Advanced Research in Numerical Heat Transfer</a
        >
      </li>
    </ul>
    <li>MyCite Indexed Journals</li>
    <ul>
      <li>
        <a
          href="https://mjoc.uitm.edu.my/main/
"
          >Malaysian Journal of Computing (MJoC)</a
        >
      </li>
      <li>
        <a href="https://amci.unimap.edu.my/"
          >Applied Mathematics and Computational Intelligence (AMCI)</a
        >
      </li>
    </ul>
  </ul>
</div>
