<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Parallel Session Schedule</h2>

  <div class="mb-5">
    <a href="schedule#day1">Day 1</a>: <a href="schedule#physical">Physical</a> |
    <a href="schedule#virtual">Virtual</a>

    <br />
    <a href="schedule#day2">Day 2</a>: <a href="schedule#physical2">Physical</a>
  </div>

  <div id="day1" class="mb-4">
    <h4>Day 1: Saturday, 12th October 2024</h4>

    <div id="physical" class="mb-4">
      <h4>Physical</h4>
      <iframe
        frameborder="0"
        height="1200"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=778679816&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
      </div>
      <div id="virtual" class="mb-4">
      <h4>Virtual</h4>
      <iframe
        frameborder="0"
        height="1200"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=1867856097&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

  </div>
  <div id="day2" class="mb-4">
    <h4>Day 2: Sunday, 13th October 2024</h4>
    <div id="physical2" class="mb-4">
      <h4>Physical</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=808411253&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>
  </div>
</div>
