<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Parallel Session Schedule</h2>

  <div class="mb-5">
    <a href="schedule#day1">Day 1</a>: <a href="schedule#ACM">ACM</a> |
    <a href="schedule#AA">AA</a> | <a href="schedule#DENA">DENA</a> |
    <a href="schedule#SAAD">SAAD</a> |
    <a href="schedule#ACM+DENA">ACM+DENA</a> |
    <a href="schedule#DENA+SAAD">DENA+SAAD</a>

    <br />
    <a href="schedule#day2">Day 2</a>: <a href="schedule#ACM2">ACM+DENA</a>
  </div>

  <div id="day1" class="mb-4">
    <h4>Day 1: Saturday, 12th October 2024</h4>

    <div id="ACM" class="mb-4">
      <h4>ACM (Physical)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=778679816&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>

      <h4>ACM (Virtual)</h4>
      <iframe
        frameborder="0"
        height="700"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=1867856097&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

    <div id="AA" class="mb-4">
      <h4>AA (Physical)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=808411253&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
<!--
      <h4>AA (Virtual)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=54648662&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

    <div id="DENA" class="mb-4">
      <h4>DENA (Physical)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=1305579480&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>

      <h4>DENA (Virtual)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=355342098&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

    <div id="SAAD" class="mb-4">
      <h4>SAAD (Physical)</h4>
      <iframe
        frameborder="0"
        height="700"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=24027710&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>

      <h4>SAAD (Virtual)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=925321500&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

    <div id="ACM+DENA" class="mb-4">
      <h4>ACM+DENA (Physical)</h4>
      <iframe
        frameborder="0"
        height="650"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=2097064020&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>

      <h4>ACM+DENA (Virtual)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=1633068655&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>

    <div id="DENA+SAAD" class="mb-4">
      <h4>DENA+SAAD (Virtual)</h4>
      <iframe
        frameborder="0"
        height="600"
        width="100%"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRHZ965yCTVj91o0qUKHT7hM4r9KkCwbYFKss8EOxncDZMEzjKbwAYetNWuIILKOQ/pubhtml?gid=938227651&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
      ></iframe>
    </div>
//-->
    <div id="day2" class="mb-4">
      <h3>Day 2: Sunday, 13th October 2024</h3>

      <div id="ACM2" class="mb-4">
        <h4>ACM+DENA</h4>
        <iframe
          frameborder="0"
          height="300"
          width="100%"
          src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQsmA3esN45a0IGD5vO7zhBfakY02Gi0QqmkmhzGd2cmPrKtTTK2R1ltZzZV9_I3Q/pubhtml?gid=778679816&amp;rm=minimal&amp;single=true&amp;&amp;output=html&amp;chrome=false"
        ></iframe>
      </div>
    </div>
  </div>
</div>
