<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Venue</h2>

  <p>
    {{ confTitle }} will be held from 12th - 13th October 2024 at
    {{ confVenue }}.
  </p>

  <iframe
    width="520"
    height="400"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    id="gmap_canvas"
    src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Perdana%20KLCC%20Kuala%20Lumpur+(Perdana%20Hotel)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
  ></iframe>
  <script
    type="text/javascript"
    src="https://embedmaps.com/google-maps-authorization/script.js?id=03fd84d1e8110412062940f90ce3519f61a2cacd"
  ></script>
</div>
