<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Pre-Conference Workshops</h2>
  <div class="box-container">
    <div class="card" style="width: 18rem">
      <a href="../assets/workshops/workshop-image-processing.jpg">
        <img
          class="card-img-top"
          src="../assets/workshops/workshop-image-processing.jpg"
          alt="Card image cap"
      /></a>
      <div class="card-body">
        <h5 class="card-title">
          Mathematical Imaging Techniques for Digital Image Processing
        </h5>
        <p class="card-text mb-3">
          Date: 9 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
        </p>

        Speakers:
        <ol>
          <li>Dr. Abdul Kadir Jumaat</li>
          <li>Ts. Dr. Suhaila Abd Halim</li>
        </ol>
        <a
          href="https://docs.google.com/forms/d/1nfJpoiza17Z2_7dl97OCqwmqSStfLq3xVUt3DJnKcQs/viewform?edit_requested=true"
          class="btn btn-primary"
          >Register</a
        >
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <a href="../assets/workshops/workshop-fuzzy.jpg">
        <img
          class="card-img-top"
          src="../assets/workshops/workshop-fuzzy.jpg"
          alt="Decision Making & Fuzzy System"
      /></a>
      <div class="card-body">
        <h5 class="card-title">Decision Making & Fuzzy System</h5>
        <p class="card-text mb-3">
          Date: 9 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
        </p>
        Speakers:
        <ol>
          <li>Dr. Nor Hanimah Kamis</li>
          <li>Dr. Tajul Rosli Razak</li>
        </ol>
        <a
          href="https://docs.google.com/forms/d/1nfJpoiza17Z2_7dl97OCqwmqSStfLq3xVUt3DJnKcQs/viewform?edit_requested=true"
          class="btn btn-primary"
          >Register</a
        >
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <a href="../assets/workshops/workshop-machine-learning.jpg">
        <img
          class="card-img-top"
          src="../assets/workshops/workshop-machine-learning.jpg"
          alt="Integrating Mathematics & Machine Learning"
      /></a>
      <div class="card-body">
        <h5 class="card-title">Integrating Mathematics & Machine Learning</h5>
        <p class="card-text mb-3">
          Date: 10 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
        </p>
        Speaker:
        <ol>
          <li style="list-style-type: none">Dr. Mohd Razif Shamsuddin</li>
        </ol>
        <a
          href="https://docs.google.com/forms/d/1nfJpoiza17Z2_7dl97OCqwmqSStfLq3xVUt3DJnKcQs/viewform?edit_requested=true"
          class="btn btn-primary"
          >Register</a
        >
      </div>
    </div>
  </div>
</div>
