<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Pre-Conference Workshops</h2>
  <div class="box-container">
    <div class="card" style="width: 18rem">
      <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
      <div class="card-body">
        <h5 class="card-title">Image Processing</h5>
        <p class="card-text mb-3">
          Date: 9 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
          Speaker:<br />
          Dr. Abdul Kadir Jumaat
        </p>
        <a class="btn btn-primary">Register</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
      <div class="card-body">
        <h5 class="card-title">Fuzzy Mathematics</h5>
        <p class="card-text mb-3">
          Date: 9 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
          Speaker:<br />
          1. Dr. Nor Hanimah Kamis<br />
          2. Dr. Tajul Rosli Razak
        </p>
        <a class="btn btn-primary">Register</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <!-- <img class="card-img-top" src="..." alt="Card image cap" /> -->
      <div class="card-body">
        <h5 class="card-title">Artificial Intelligence</h5>
        <p class="card-text mb-3">
          Date: 10 October 2024<br />
          Time: 9am - 5pm (GMT+8)<br />
          Platform: Microsoft Teams<br />
          Speaker:<br />
          Mr. Mohd Razif Shamsuddin
        </p>
        <a class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</div>
