<div class="container mt-5 mb-5 pt-5">
  <h2 class="mb-4">Committee</h2>

  <div class="row">
    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Patron</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Professor Datuk Dr. Shahrin bin Sahib &#64; Sahibuddin – Vice
              Chancellor UiTM
            </li>
          </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Vice Patron</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Professor Ts. Dr. Haryani Haron – Assistant Vice Chancellor KPPIM UiTM
              </li>
            </ul>
          </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Advisor</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Associate Professor Ts. Dr. Ahmad Zia Ul-Saufie Mohamad Japeri – Head of
              Study Center of Mathematical Sciences
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--chairperson-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chairperson</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Associate Professor Dr. Shaharuddin Cik Soh</li>
          </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Deputy Chairperson</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dr. Sumarni Abu Bakar</li>
            </ul>
          </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Secretary</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Harliza Mohd Hanif</li>
            <li class="list-group-item">Dr. Azie Farhani Badr.ol Hisham</li>
            <li class="list-group-item">Siti Rahimah Batcha</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Treasurer</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Nur Ardiana Amirsom</li>
            <li class="list-group-item">Dr. Siti Salmah Yasiran</li>
            <li class="list-group-item">Dr. Muhanizah Abdul Hamid</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Corporate and Protocol</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Nurul Syaza Abdul Latif</li>
            <li class="list-group-item">Dr. Nur ‘Izzati Hamdan</li>
            <li class="list-group-item">Dr. Izzati Khalidah Khalid</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Master of ceremonies</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Noor Latiffah Adam</li>
            <li class="list-group-item">Dr. Wan Khadijah Wan Sulaiman</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Food and Accommodation</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Roselah Osman</li>
            <li class="list-group-item">Dr. Zuraida Alwadood</li>
            <li class="list-group-item">Norlenda Mohd Noor</li>
            <li class="list-group-item">Dr. Vincent Daniel David George</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Logistics and Technical</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sidik Rathi</li>
            <li class="list-group-item">Dr. Mohd Hakim Jamil</li>
            <li class="list-group-item">Dr. Rinie Narinie Mohd Nasir</li>
            <li class="list-group-item">Dr. Amirah Mohamad Sahar</li>
            <li class="list-group-item">Md Rosli Md Daud</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registration and Certificates</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nurzalina Harun</li>
            <li class="list-group-item">Dr. Nur Hamizah Abdul Ghani</li>
            <li class="list-group-item">Zaileha Md Ali</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Website and Promotion</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Associate Professor Ts. Dr. Rizauddin Saian</li>
            <li class="list-group-item">Associate Professor Ts. Dr. Normi Abdul Hadi</li>
            <li class="list-group-item">Ts. Dr. Suhaila Abd Halim</li>
            <li class="list-group-item">Dr. Mohd Rijal Ilias</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Parallel Sessions</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nur Zafirah Mohd Sidek</li>
            <li class="list-group-item">Noratika Nordin</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sponsorships and Prizes</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ts. Dr. Mohd Agos Salim Nasir</li>
            <li class="list-group-item">Herniza Md Tahir</li>
            <li class="list-group-item">Zubaidah Sadikin</li>
            <li class="list-group-item">Nurzalina Harun</li>
            <li class="list-group-item">Dr. Nur Asiah Mohd Makhatar</li>
          </ul>
        </div>
      </div>
    </div>


    <!--committee-->
    <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event Manager</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dr. Nur Asiah Mohd Makhatar</li>
              <li class="list-group-item">Hanifah Sulaiman</li>
            </ul>
          </div>
        </div>
      </div>
  
  
      <!--committee-->
      <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special Duties</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dr. Nadhirah Abdul Halim</li>
                <li class="list-group-item">Dr. Nur Syazwani Ghazali</li>
                <li class="list-group-item">Norhidayah A Kadir</li>
              </ul>
            </div>
          </div>
        </div>
      
        
    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Scientific Papers and Abstract</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Associate Professor Ts. Dr. Adibah Shuib</li>
            <li class="list-group-item">Associate Professor Dr. Seripah Awang Kechil</li>
            <li class="list-group-item">Dr. Abdul Kadir Jumaat</li>
            <li class="list-group-item">Dr. Nor Hanimah Kamis</li>
            <li class="list-group-item">Dr. Noor Azzah Awang</li>
            <li class="list-group-item">Dr. Hazizah Mohd Ijam</li>
            <li class="list-group-item">Dr. Iskandar Shah Mohd Zawawi</li>
            <li class="list-group-item">Dr. Nur Syazana Anuar</li>
            <li class="list-group-item">Dr. Nur Hazwani Aqilah Abdul Wahid</li>
            <li class="list-group-item">Dr. Siti Khuzaimah Soid</li>
          </ul>
        </div>
      </div>
    </div>

    <!--committee-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liaison Officer</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dr. Mathuri A/P Selvarajoo</li>
            <li class="list-group-item">Professor Dr. Isamiddin Rakhimov</li>
            <li class="list-group-item">Shahirulliza Shamsul Ambia</li>
            <li class="list-group-item">Dr. Nur Asiah Mohd Makhatar</li>
            <li class="list-group-item">Dr. Mohd Hakim Jamil</li>
            <li class="list-group-item">Dr. Nur Syazwani Ghazali</li>
            <li class="list-group-item">Dr. Nur Hamizah</li>
            <li class="list-group-item">Dr. Amirah Mohamad Sahar</li>
            <li class="list-group-item">Dr. Izzati Hamdan</li>
            <li class="list-group-item">Dr. Rinie Narinie</li>
            <li class="list-group-item">Dr. Muhanizah Abdul Hamid</li>
            <li class="list-group-item">Dr. Nurul Syaza Abdul Latif</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
