<div class="container-fluid mt-4 p-1 bg-primary text-white text-center">
  &nbsp;
</div>
<img src="/assets/UICMS2024-2055x700.jpg" class="img-fluid" alt="UICMS2024" />

<div class="container mt-5">
  <h1>
    Welcome to the {{confTitle}}
    ({{confAbbrev}})
  </h1>
  <p>
    We are delighted to invite you to the UiTM International Conference on
    Mathematical Sciences 2024 (UICMS 2024).
    a prestigious event held in
    conjunction with the 3rd International Conference on Mathematical Sciences
    (ICMS 2024) and the 3rd Computational Models and Technologies (CMT 2024).

    This conference is set to be a milestone event, unfolding on the 12th and
    13th of October 2024.
  </p>
  <p class="mt-4">
    {{confAbbrev}} aims to bring together a diverse group of thought leaders,
    innovators, and practitioners from around the world. We are focusing on the
    critical role of mathematics in the current age of intelligence and
    analytics, emphasizing the bridge between theoretical advancements and
    practical applications. This gathering is a unique opportunity for
    academics, professionals, researchers, scholars, and students to engage in a
    rich exchange of ideas, experiences, and expertise.
  </p>

  <p class="mt-4">
    Our conference, through its expertly curated sessions and discussions, seeks
    to enhance collaborative efforts among academic institutions, especially
    between UiTM and its MoU partners, and to foster a culture of high-quality
    scholarship and research.
  </p>

  <p class="mt-4">
    Join us for an enriching experience that promises to expand your horizons,
    provide valuable insights, and offer networking opportunities with peers and
    experts in the field of mathematics and its applications. We look forward to
    your participation in making UICMS 2024 a resounding success.
  </p>

  <p class="mt-4">
    Please use this link to register:
    <a href="{{confSubmissionUrl}}">{{confSubmissionUrl}}</a>
  </p>

  <div class="container mt-5">
    <h2 class="mb-2">Keynote Speakers</h2>
    <div class="row">
      <!-- Card 1a -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/Rakhmatillo-Aloev.png"
            class="card-img-top"
            alt="Prof. Dr. Rakhmatillo Aloev"
          />
          <div class="card-body">
            <h6>Prof. Dr. Rakhmatillo Aloev</h6>
            <div class="card-text">
              <p class="card-text">National University of Uzbekistan (NUUz)</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 1b -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/Mukhiddin-Muminov.png"
            class="card-img-top"
            alt="Prof. Dr. Mukhiddin Muminov"
          />
          <div class="card-body">
            <h6>Prof. Dr. Mukhiddin Muminov</h6>
            <div class="card-text">
              <p class="card-text">Samarkand State University</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 1c -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/adibah.png"
            class="card-img-top"
            alt="Assoc. Prof. Ts. Dr. Adibah Shuib"
          />
          <div class="card-body">
            <h6>Assoc. Prof. Ts. Dr. Adibah Shuib</h6>
            <div class="card-text">
              <p class="card-text">Universiti Teknologi MARA</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 1d -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/nirmala.png"
            class="card-img-top"
            alt="Prof. Dr. M. Nirmala"
          />
          <div class="card-body">
            <h6>Prof. Dr. M. Nirmala</h6>
            <div class="card-text">
              <p class="card-text">Sathyabama
                Institute of Science and Technology</p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mb-2 mt-4">Invited Speakers</h2>
      <!-- Card 2a -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/Mirzoali-Khudoyberganov.png"
            class="card-img-top"
            alt="Prof. Dr. Mirzoali Khudoyberganov"
          />
          <div class="card-body">
            <h6 class="card-title">Prof. Dr. Mirzoali Khudoyberganov</h6>
            <div class="card-text">
              <p class="card-text">National University of Uzbekistan (NUUz)</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2b -->
      <div class="col-md-3 col-8 mb-2 mb-md-2">
        <div class="card">
          <img
            src="../assets/keynotes/Abdullo-Hayotov.png"
            class="card-img-top small-screen-img"
            alt="Prof. Dr. Abdullo Rakhmonovich Hayotov"
          />
          <div class="card-body">
            <h6 class="card-title">Prof. Dr. Abdullo Rakhmonovich Hayotov</h6>
            <div class="card-text">
              <p class="card-text">
                Institute of Mathematics, Uzbekistan Academy of Sciences
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2c -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/Rasulov_Tolqin_Husenovich.png"
            class="card-img-top"
            alt="Prof. Dr. Rasulov Tulkin Husenovich"
          />
          <div class="card-body">
            <h6>Prof. Dr. Rasulov Tulkin Husenovich</h6>
            <div class="card-text">
              <p class="card-text">Bukhara State University</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2d -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/Bekbaev_Ural.png"
            class="card-img-top"
            alt="Assoc. Prof. Dr. Ural Bekbaev"
          />
          <div class="card-body">
            <h6>Assoc. Prof. Dr. Ural Bekbaev</h6>
            <div class="card-text">
              <p class="card-text">Turin Polytechnic University in Tashkent</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2e -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/zakaria.png"
            class="card-img-top"
            alt="Prof. Dr. La Zakaria"
          />
          <div class="card-body">
            <h6>Prof. Dr. La Zakaria</h6>
            <div class="card-text">
              <p class="card-text">Universitas Lampung</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2f -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/nanang.png"
            class="card-img-top"
            alt="Assoc. Prof. Dr. Nanang Susyanto"
          />
          <div class="card-body">
            <h6>Assoc. Prof. Dr. Nanang Susyanto</h6>
            <div class="card-text">
              <p class="card-text">Universitas Gadjah Mada</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2g -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/priya.png"
            class="card-img-top"
            alt="Dr. Priya Shirley Muller"
          />
          <div class="card-body">
            <h6>Dr. Priya Shirley Muller</h6>
            <div class="card-text">
              <p class="card-text">
                Sathyabama Institute of Science and Technology
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2h -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/jayapriya.png"
            class="card-img-top"
            alt="Dr. J. Jayapriya"
          />
          <div class="card-body">
            <h6>Assoc. Prof. Dr. J. Jayapriya</h6>
            <div class="card-text">
              <p class="card-text">Sathyabama
                Institute of Science and Technology</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2i -->
      <div class="col-md-3 col-8 mb-2 mb-md-0">
        <div class="card">
          <img
            src="../assets/keynotes/jeyanthi.png"
            class="card-img-top"
            alt="Dr. M. Prasanna Jeyanthi"
          />
          <div class="card-body">
            <h6>Dr. M. Prasanna Jeyanthi</h6>
            <div class="card-text">
              <p class="card-text">Sathyabama
                Institute of Science and Technology</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-5">
  <h3>Conference Theme</h3>
  <p>
    <strong
      >Mathematics in the Age of Intelligence and Analytics: Bridging Theory and
      Applications</strong
    >
  </p>
</div>

<div class="container mt-5">
  <h3>Objectives</h3>
  <ol>
    <li>
      To provide a broad platform for academics, professionals, researchers,
      scholars, and students in Malaysia and around the world to interact and
      share knowledge, experience, and expertise in the field of mathematics and
      its applications.
    </li>
    <li>To enhance collaborative cooperation between UiTM and MoU partners.</li>
    <li>
      To serve as a catalyst for a culture of scholarship based on quality by
      encouraging academic community involvement in research, writing, and other
      scholarly activities.
    </li>
    <li>
      To create a forum for collaboration among international academic members
      for universal benefit.
    </li>
    <li>
      To provide motivation and opportunities for researchers to discuss and
      present the latest research findings in the field of mathematics and its
      applications.
    </li>
    <li>
      To produce high-impact publications through co-authorship for joint
      publications.
    </li>
  </ol>
</div>

<div class="container mt-5">
  <h3>Joint Organizers</h3>
  <ul>
    <li>
      School of Mathematical Sciences, College of Computing, Informatics, and
      Mathematics, UiTM Shah Alam
    </li>
    <li>
      School of Mathematical Sciences, College of Computing, Informatics, and
      Mathematics, UiTM Branch Campuses
    </li>
    <li>National University of Uzbekistan (NUUz)</li>
    <li>Sathyabama Institute of Science and Technology</li>
    <li>PERSAMA</li>
  </ul>
</div>
