<div class="container-fluid mt-4 p-1 bg-primary text-white text-center">
  &nbsp;
</div>
<img src="/assets/banner2055x900.png" class="img-fluid" alt="UICMS2024">


<!-- <div class="container-fluid mt-5 p-5 bg-primary text-white text-center">
  <div><h2>{{confTitle}}</h2>
    in conjunction with<br>
    <h4>{{confConj1}}</h4>
    <h4>{{confConj2}}</h4>
    <h5>{{confDate}}</h5>
  </div> 
</div> -->

<div class="container mt-5">
  <h2 class="mb-4">Keynote Speakers</h2>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/placeholder.jpg" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h5>Uzbekistan</h5>
          <p class="card-text">Description for Keynote</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/placeholder.jpg" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <h5>Sathyabama</h5>
          <p class="card-text">Description for Keynote</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/placeholder.jpg" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <h5>Uzbekistan</h5>
          <p class="card-text">Description for Keynote</p>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/placeholder.jpg" class="card-img-top" alt="Image 4">
        <div class="card-body">
          <h5>UiTM</h5>
          <p class="card-text">Description for Keynote</p>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2">
      <div class="card">
        <img src="../assets/placeholder.jpg" class="card-img-top" alt="Image 5">
        <div class="card-body">
          <h5>UiTM</h5>
          <p class="card-text">Description for Keynote</p>
        </div>
      </div>
    </div>
  </div>
</div>

